
/* pc max width */
@media screen and (min-width:992px){
  .mobile-header{
    display: none;
  }
}

/* PC max width 1200 */
@media screen and (min-width:992px) and (max-width:1399.98px){
    .nav {
        margin: 0px auto;
        display: flex;
        align-items: center;
      }

      .nav-tabletandmobile{
        display: none;
      }

      .logo{
        margin-left: 300px;
      }

      .navbar{
        margin-left: auto;
      }

      .group-rectangle__right{
        right: -600px;
      }

      .footer__horizontal,.copyright__group,.nav,.contact-content{
        width: 1170px;
      }


}

/* Mobile and tablet */

@media screen and (max-width:991.98px){
  /*======== header===== */
   .nav{
    display: none;
   }

   .header{
    padding-top: 0;
   }

   .mobile-header{ 
    position: relative;
    display: flex;
    align-items: center;
   }
  
   .logo{
    margin-left: 0;
    margin-right: auto;
    width: 80px;
    height: 80px;
   }

   .nav__mail-icon{
    height: 50px;
    width: 50px;
   }

   .nav__mail-desc{
    display: none;
   }

   .toogle-menu{

    margin: 0 0 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;  
    border: none;
   }

   .menu-content{
    position: absolute;
    visibility: hidden;
    display: flex;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 999;
    transition: all ease 0.2s;
    /* background-color: red; */
   }

   .menu-drawer{
    padding: 10px 20px;
    position: absolute;
    top: 0;
    right: 0;
    width: 65%;
    translate: 100%;
    height: 100vh;
    background-color: #ccc;
    
    transition: all ease 0.2s;
   }

   .menu-overlay{
    transition: all ease 0.2s;
    visibility: hidden;
    height: 100%;
    width: 100%;
    opacity: 0.7;
    background-color: #000;
    border: 0;
    border-radius: 0;
    margin-top: 0;
   }

   .menu-checkbox:checked ~ .menu-content .menu-drawer{
    translate: 0 0;
   }

   .menu-checkbox:checked ~ .menu-content,
   .menu-checkbox:checked ~ .menu-content .menu-overlay {
    visibility: visible;
   }

   .navbar-mobile{
    margin: 20px 0;
   }

   .navbar-mobile li{
    margin-top: 20px;
   }

   .menu-drawer__logo{
    margin-top: 10px;
    height: 70px;
    width: 70px;
   }

   .menu-drawer__horizontal{
    height: 1px;
    width: 90%;
    background-color: #000;
   }

   .login{
    margin: 20px 0 0 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
   }

   /* ======= */

   
}

/* tablet */

@media screen and (min-width:768px) and (max-width:991.98) {
    
}

/* mobile  */
@media screen and (max-width:767.98px) {
    
}


/* mobile small */
@media screen and (max-width:575.98px) {
    
}


