/* pc max width */
@media screen and (min-width: 992px) {
  .mobile-header {
    display: none;
  }

  .skill__dots {
    display: none;
  }

  .gallery__dots {
    display: none;
  }
}

/* PC max width 1200 */
@media screen and (min-width: 992px) and (max-width: 1399.98px) {
  .nav {
    margin: 0px auto;
    display: flex;
    align-items: center;
  }

  .nav-tabletandmobile {
    display: none;
  }

  .logo {
    margin-left: 300px;
  }

  .navbar {
    margin-left: auto;
  }

  .group-rectangle__right {
    right: -600px;
  }

  .footer__horizontal,
  .copyright__group,
  .nav,
  .contact-content {
    width: 1170px;
  }
}

/* Mobile and tablet */

@media screen and (max-width: 991.98px) {
  /*======== header===== */
  .nav {
    display: none;
  }

  .header {
    padding-top: 0;
  }

  .mobile-header {
    position: relative;
    display: flex;
    align-items: center;
  }

  .logo {
    margin-left: 0;
    margin-right: auto;
    width: 80px;
    height: 80px;
  }

  .nav__mail-icon {
    height: 50px;
    width: 50px;
  }

  .nav__mail-desc {
    display: none;
  }

  .toogle-menu {
    height: 50px;
    width: 50px;
    margin: 0 0 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
  }

  .menu-content {
    position: absolute;
    visibility: hidden;
    display: flex;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 999;
    transition: all ease 0.2s;
    /* background-color: red; */
  }

  .menu-drawer {
    position: fixed;
    padding: 10px 20px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 35%;
    translate: 100%;
    background-color: #ccc;
    transition: all ease 0.2s;
  }

  .hero__right {
    margin: 0;
    width: 100%;
    padding-left: 20px;
  }

  .menu-overlay {
    position: fixed;
    inset: 0;
    transition: all ease 0.2s;
    visibility: hidden;
    height: 100%;
    width: 100%;
    opacity: 0.7;
    background-color: #000;
    border: 0;
    border-radius: 0;
    margin-top: 0;
  }

  .menu-checkbox:checked ~ .menu-content .menu-drawer {
    translate: 0 0;
  }

  .menu-checkbox:checked ~ .menu-content,
  .menu-checkbox:checked ~ .menu-content .menu-overlay {
    visibility: visible;
  }

  .navbar-mobile {
    margin: 20px 0;
  }

  .navbar-mobile li {
    margin-top: 20px;
  }

  .menu-drawer__logo {
    margin-top: 10px;
    height: 70px;
    width: 70px;
  }

  .menu-drawer__horizontal {
    height: 1px;
    width: 90%;
    background-color: #000;
  }

  .login {
    margin: 20px 0 0 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  /* ======= hero======== */

  .hero > .container {
    display: flex;
    flex-direction: column-reverse;
  }

  .group-rectangle__right,
  .partner__right {
    display: none;
  }
}

/* tablet */

@media screen and (min-width: 768px) and (max-width: 991.98) {
}

/* mobile  */
@media screen and (max-width: 767.98px) {
  .title-common {
    width: 100%;
    font-size: 3.6rem;
    text-align: center;
    line-height: 42px; /* 116.667% */
    letter-spacing: -1.44px;
  }

  .desc-common {
    font-size: 1.6rem;
    /* display: block; */
  }

  .hero__title {
    font-size: 4.2rem;
    width: 100%;
    line-height: 50px; /* 119.048% */
    letter-spacing: -1.68px;
  }

  .hero__desc {
    font-size: 1.6rem;
    width: 100%;
    line-height: 26px; /* 162.5% */
  }

  .btn {
    font-size: 1.6rem;
    min-width: 147px;
    height: 55px;
    line-height: 55px;
  }
  .hero__social-network {
    margin-top: 30px;
  }

  .hero__left {
    width: 100%;
    height: 100%;
  }

  .hero__img {
    /* display: inline-block; */
    width: 259px;
    height: 355px;
    object-fit: cover;
    translate: 35% 0;
  }

  .group-rectangle__left {
    right: 0;
    width: 100%;
    height: auto;
  }

  .group-rectangle__right {
    display: none;
  }
  /* partner */

  .partner > .container {
    flex-direction: column;
  }

  .partner__left {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .partner__title {
    text-align: center;
    width: 169px;
    font-size: 2.8rem;
    margin: 0;
    font-style: normal;
    font-weight: 500;
    line-height: 34px; /* 121.429% */
    letter-spacing: -1.12px;
  }

  .partner__title::before {
    top: -5px;
    left: 50%;
    translate: -50% 0;
  }

  .partner__right {
    margin-top: 42px;
    padding: 0 20px;
    width: 100%;
    margin-left: 0;
    grid-template-columns: repeat(2, auto);
  }

  .skill__list {
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
  }

  .skill__item {
    /* translate: -100% 0; */
  }

  .skill__dots {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
  }

  .project__top {
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .project__title {
    width: 301px;
  }

  .project__desc {
    margin-top: 20px;
    margin-left: 0;
    width: 350px;
    text-align: center;
  }

  .project__info {
    width: 176px;
  }

  .project__info-title {
    font-size: 2.4rem;
  }

  .project__info-desc {
    font-size: 1.4rem;
  }

  .project__info-cta {
    font-size: 1.6rem;
  }

  .project__info-img {
    width: 122px;
    height: 93px;
  }

  .journey__top {
    /* width: 350px; */
  }

  .journey__greeting-desc {
    font-size: 2rem;
  }

  .journey__greeting-icon {
    height: 18px;
    width: 18px;
  }

  .achive {
    width: 350px;
    margin: 0px auto;
  }

  .journey {
    /* width: 350px; */
    margin: 0px auto;
  }

  .journey__achive {
  }

  /* .hero {
    display: none;
  } */

  .journey__achive-title {
    font-size: 3rem;
  }

  .journey__achive-desc {
    width: 85px;
  }

  .journey__video-cta {
    display: none;
  }

  .journey__video-desc {
    width: 118px;
    height: 44px;
    line-height: 44px;
    font-size: 1.2rem;
    font-weight: 700;
    text-transform: uppercase;
  }

  .journey__feedback-info {
    font-size: 1.8rem;
  }

  .username {
    font-size: 2.4rem;
  }

  /* ===question=== */

  .question {
    width: 370px;
    margin: 0px auto;
  }

  .question__title {
    width: 316px;
    text-align: left;
  }

  .question__content {
    width: 100%;
  }

  .question__sub-title {
    width: 265px;
    font-size: 2.4rem;
    font-weight: 500;
    line-height: 30px; /* 125% */
    letter-spacing: -0.96px;
  }

  label,
  label::after {
    height: 33px;
    width: 33px;
    line-height: 33px;
  }

  label::after {
  }

  .question__group {
    gap: 0;
  }

  .question__desc {
    width: 316px;
    font-size: 1.6rem;
    line-height: 26px; /* 162.5% */
  }

  .gallery {
    width: 350px;
    margin: 0px auto;
  }

  .gallery__desc {
    width: 100%;
  }

  .gallery__hastag {
    font-size: 2rem;
    margin-top: 10px;
  }

  .gallery__list {
    flex-wrap: nowrap;
    overflow: hidden;
  }

  .gallery__item {
    translate: -100% 0;
    transition: all ease 0.3s;
  }

  .gallery__dots {
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    text-align: center;
  }

  .contact,
  .contact-content {
    width: 350px;
  }

  .contact__icon {
    width: 48px;
    height: 48px;
  }

  .contact__title {
    width: 225px;
    margin: 0px auto;
  }

  .footer {
    width: 350px;
    margin: 0px auto;
  }

  .footer__nav {
    margin: 0px auto;
    width: 350px;
    display: inline-flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: center; */
  }

  .footer__logo {
    margin: 0px auto;
    height: 100px;
    width: 100px;
  }

  .footer__navbar {
    margin: 30px auto 58px;
  }

  .footer__navbar li a {
    font-size: 1.6rem;
    padding: 6px 16px;
  }

  .footer__mail {
    order: 3;
  }

  .footer__mail-desc {
    display: inline-block;
  }

  .footer__horizontal {
    width: 100%;
  }

  .copyright__group {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }

  .footer__horizontal {
    display: none;
  }

  .copyright__content,
  .terms {
    margin: 0;
  }

  .horizontal-mobile {
    margin: 37px 0 20px;
    height: 1px;
    width: 100%;
    background-color: #0c0720;
    opacity: 0.2;
  }

  label:hover {
    background-color: red;
    color: red;
  }
}

/* mobile small */
@media screen and (max-width: 575.98px) {
}
